/*
Liz Buhager

Blue- #0887ec
Green- #1ab923
Pink- #de8ea5
*/

@import url(http://fonts.googleapis.com/css?family=Unkempt:700);

a {
    color: #0887ec;
}

h1 {
    color: #0887ec;
    font-family: 'Unkempt', cursive;
}
.colorsquare{
    width: 100px;
    height: 100px;
    xfloat: left;
}

.color1{
    background-color: #0887ec;
}

.color2{
    background-color: #1ab923;
}

.color3{
    background-color: #de8ea5;
}


.clearfix:before,
.clearfix:after {
    content" ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.colorwrapper{
    background-color: inherit;
}

h2 {
    color: #de8ea5;
    font-family: 'Unkempt', cursive;
}

header {
    background-color: #dddddd;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
    font-family: 'Unkempt', cursive;
        
        }
body{
    background-color: antiquewhite;
    font-family: sans-serif;
}


.navigation{
    list-style: none;
}
